<nav
  class="navbar navbar-expand-lg navbar-light"
  style="
    background: rgb(143, 112, 190);
    background: radial-gradient(
      circle,
      rgba(143, 112, 190, 1) 0%,
      rgba(148, 183, 233, 1) 100%
    );
  "
>
  <div class="container-fluid">
    <img
      src="/images/logo.png"
      width="60"
      height="60"
      class="brand me-3 ms-5"
      alt=""
    />
    <a
      class="navbar-brand text-white"
      href="/"
      style="font-size: 25px; text-shadow: 4px 4px 2px rgba(163, 141, 141, 0.6)"
      >Grimidia</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a
        href="/tambah"
        class="btn btn-outline-light fs-5 ms-auto me-4"
        type="button"
        style="
          box-shadow: 10px 10px 18px -3px rgba(155, 155, 155, 0.6);
          -webkit-box-shadow: 10px 10px 18px -3px rgba(155, 155, 155, 0.6);
          -moz-box-shadow: 10px 10px 18px -3px rgba(155, 155, 155, 0.6);
        "
        ><i class="bi bi-plus-circle me-2"></i>Tambah Data</a
      >
    </div>
  </div>
</nav>
